input[type="text"] {
    margin-right: 1rem;
    font-size: 1.5em;
  }
  
  button {
    background-color: #43ad94;
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  }
  
  button:hover {
    background-color: #338471;
  }
  
  .completed {
    text-decoration: line-through;
  }

  .inline-blocks {
    width: 250px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    justify-content: center;
    border-radius: 8px;
  }
  
  .inline-blocks p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    text-align: left;
  }
  
  .inline-blocks:first-child {
    width: 170px;
    border: 3.5px solid rgb(20, 131, 139);
    padding: 0 20px;
  }
  
  .inline-blocks:last-child {
    width: 170px;
    border: 3.5px solid rgb(20, 131, 139);
    padding: 0 20px;
  }
  
  